---
const { showHr } = Astro.props;
---

<!-- Main Footer --><!-- Links -->
<div class="w-full flex flex-col gap-[12px]">
  {showHr && <hr />}
  <div
    class="w-full h-fit flex flex-col gap-[12px] md:flex-row md:gap-0 text-[14px]"
  >
    <div class="w-full flex flex-col gap-[16px]">
      <p><a href="/about">About</a></p>
      <p>Blog</p>
      <p>Work - product design</p>
      <p>Work - software engineering; web</p>
    </div>

    <div class="w-full flex flex-col gap-[16px]">
      <p><a href="/now">Now</a></p>
      <p><a href="/">Home</a></p>
      <p>Visual Diary - moments worth sharing</p>
      <p><a href="/contact">Contact</a></p>
    </div>
  </div>
</div>

<!-- Sub Footer -->
{
  showHr && (
    <div class="flex flex-col gap-[12px] text-[14px]">
      <hr />

      <div class="w-full flex justify-between items-center">
        <div class="w-full flex items-center gap-[8px]">
          <div class="avatar" />
          <p>
            <a href="/aboutmyportfolio2025">About my Portfolio 2025</a>
          </p>
        </div>
        <p class="w-fit md:w-full">
          <a href="mailto:richmanaddai@gmail.com">Email</a>
        </p>
      </div>
    </div>
  )
}

<style>
  p {
    color: var(--text-secondary);
  }

  p:hover {
    color: var(--text-primary);
    cursor: pointer;
  }

  .avatar {
    display: inline-block;
    margin-right: 20px;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background: var(--bg-secondary);
    border: 1px solid var(--text-secondary);
    box-shadow: inset 2px -2px 3px var(--text-secondary);
    position: relative;
    animation: head-rotation 8s infinite ease;
  }

  @keyframes head-rotation {
    0% {
      box-shadow: inset 2px -2px 3px var(--text-secondary);
    }

    20% {
      box-shadow: inset 4px -2px 3px var(--text-secondary);
    }

    30% {
      box-shadow: inset 2px -2px 3px var(--text-secondary);
    }

    55% {
      box-shadow: inset 4px 1px 3px var(--text-secondary);
    }

    65% {
      box-shadow: inset 2px -2px 3px var(--text-secondary);
    }

    100% {
      box-shadow: inset 2px -2px 3px var(--text-secondary);
    }
  }

  .avatar::before {
    content: "";
    height: 3px;
    width: 3px;
    border-radius: 100%;
    background: var(--text-secondary);
    position: absolute;
    top: 10px;
    left: 10px;
    animation: eye-movement 8s infinite ease;
  }

  .avatar::after {
    content: "";
    height: 3px;
    width: 3px;
    border-radius: 100%;
    background: var(--text-secondary);
    position: absolute;
    top: 10px;
    left: 18px;
    animation: eye-movement 8s infinite ease;
  }

  @keyframes eye-movement {
    0% {
      transform: translateX(0px) translateY(0) scaleY(1);
    }

    20% {
      transform: translateX(2px) translateY(0) scaleY(1);
    }

    30% {
      transform: translateX(-2px) translateY(0) scaleY(1);
    }

    55% {
      transform: translateX(0px) translateY(4px) scaleY(1);
    }

    65% {
      transform: translateX(0px) translateY(0px) scaleY(0.5);
    }

    70% {
      transform: translateX(0px) translateY(0px) scaleY(1);
    }

    100% {
      transform: translateX(0px) translateY(0px) scaleY(1);
    }
  }
</style>
